
=================================================
Milestone 3

Nama: vincent kaunang

Batch: HCK 017

Objective: menganalisa kemajuan E-Commerce di pakistan berdasarkan tippe pembayaran, jenis item, dan detail dari customer di pakistan

Latar belakang: Ada sebuah perusahaan E-Commerce di pakistan yang ingin merekrut saya. Saya adalah seorang data analysist yang diminta untuk memeriksa trafik e-commerce pada 3 tahun terakhir

Tujuan: - menganalisa rata-rata harga, membuat grafik total order berdasarkan bulan, dll

Divisi: Data Analyst, Data Engineer

=================================================

In [2]:
# Create a data context

from great_expectations.data_context import FileDataContext

context = FileDataContext.create(project_root_dir='./')

In [4]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'E-commerce'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'E-commerce'
path_to_data = 'C:\p2-ftds017-hck-m3-Vincent1607\dags\P2M3_vincent_kaunang_data_clean1.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

In [5]:
# Creat an expectation suite
expectation_suite_name = 'expectation-ecommerce-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,unnamed:_0,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,...,discount_amount,payment_method,working_date,bi_status,_mv_,year,month,customer_since,fy,customer_id
0,0,339248,order_refunded,2016-11-25,Al Muhafiz Sohan Halwa Almond,388.0,1,528.00,100232077,Soghaat,...,0.00,cod,2016-11-25,Valid,388,2016,11,2016-11-01,FY17,24190
1,1,492453,canceled,2017-05-21,Edenrobe_EMTPS17-009-M,805.0,1,1569.75,100315511,Men's Fashion,...,281.75,Payaxis,2017-05-21,Gross,805,2017,5,2017-05-01,FY17,47979
2,2,449913,complete,2017-04-18,Bsense_BSWN0023-L,799.0,1,4199.00,100295261,Women's Fashion,...,50.00,cod,2017-04-18,Net,799,2017,4,2017-04-01,FY17,41921
3,3,318375,complete,2016-11-24,Peacock_Sandwhich maker - peacock,1050.0,1,682.50,100219185,Appliances,...,367.50,jazzwallet,2016-11-24,Net,"1,050",2016,11,2016-07-01,FY17,282
4,4,469257,complete,2017-05-16,emart_Kemei Lady Epilator,938.0,1,1658.00,100303858,Beauty & Grooming,...,0.00,cod,2017-05-16,Net,938,2017,5,2016-09-01,FY17,9719

In [6]:
validator.expect_column_values_to_be_unique('item_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 49999,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas adalah validasi untuk mengecek apakah kolom item_id adalah kolom unique

In [7]:
validator.expect_column_values_to_be_between(
    column='price', min_value=0, max_value=5000000
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 49999,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas adalah validasi untuk mengecek apakah value dalam tabel price mencapai 50rb

In [8]:
validator.expect_column_values_to_be_in_set('payment_method', ['cod', 'ublcreditcard', 'mygateway', 'customercredit',
       'cashatdoorstep', 'mcblite', 'internetbanking', 'marketingexpense',
       'productcredit', 'financesettlement', 'Payaxis', 'jazzvoucher',
       'jazzwallet', 'Easypay', 'Easypay_MA', 'easypay_voucher',
       'bankalfalah', 'apg'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 49999,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas adalah validasi yang dilakukan untuk mengecek apakah value yang saya mau ada di dalam kolom 'payment_method

In [9]:
validator.expect_column_values_to_be_in_type_list('grand_total', ['integer', 'float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas adalah validatasi untuk mengecek apakah kolom 'grand_total' tipenya adalah integer/float

In [10]:
validator.expect_table_row_count_to_equal_other_table()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": {
      "self": 49999,
      "other": 49999
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas untuk mengecek apakah semua kolom memiliki baris yang sama

In [11]:
validator.expect_column_unique_value_count_to_be_between('payment_method', min_value=2, max_value=18)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 18
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas untuk mengecek apakah jumlah unique value payment_methodberada diantara 2 dan 18

In [12]:
validator.expect_column_sum_to_be_between(column="qty_ordered", min_value=1,max_value=100000)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 64332
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

validasi diatas untuk mengecek apakah total order berada diantara 1 sampai 100rb 18